<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--  Boostrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>
  <!-- favicon -->
  <link rel="shortcut icon" href="/imagens/abençoados.ico" type="image/x-icon">
  <!-- GoogleFonts -->
  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap" rel="stylesheet">
  <!-- fontawesome -->
  <script src="https://kit.fontawesome.com/e06ad0a210.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Css -->
  <link rel="stylesheet" href="/stylesheets/stylePerfil.css">
  <link rel="stylesheet" href="/stylesheets/styleAmigos.css">
  <link rel="stylesheet" href="/stylesheets/default.css">
<!-- jquery -->
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <title>The Blessed</title>
</head>
<body>
  <%- include('../navbar.ejs') %>
  <div class="container-fluid main-container">
    <%

      if(friends){%>

  
    <%let amigos = [];
    let meusComentarios = [];
    usuario.comentarios.forEach((comentario) => {
      meusComentarios.push(comentario.filme)
    })
    friends.forEach(function(user){
      console.log(user)
      let amigo = user;
      let nota = 0;
      let media = 0;
      amigo.comentarios.forEach((comentario) =>{
        if(meusComentarios.includes(comentario.filme)){
          nota += Math.abs(comentario.nota - usuario.comentarios[usuario.comentarios.findIndex(comentarioUser => comentarioUser.filme === comentario.filme)].nota)
          media +=1
        }
      })
        nota = nota/media
        if(media){
        amigos.push({
          media:media,
          nome:amigo.nome,
          icon:amigo.icon,
          match:(nota).toFixed(1),
          comentarios:amigo.comentarios
        })
      }
  
    })
    let recomendacoes = []
    let recomendacoesTitulos = []
    amigos.forEach((amigo) => {
      
      amigo.comentarios.forEach((comentario)=>{

        if(!meusComentarios.includes(comentario.filme)){
          if(recomendacoesTitulos.includes(comentario.filme)){
            let filmeIndex = recomendacoes.findIndex(filme => filme.filme === comentario.filme) 
            recomendacoes[filmeIndex].review.push({
              autor:amigo.nome,
              amigoFoto:amigo.icon,
              amigoNota:comentario.nota,
              amigoReview:comentario.review,
            })
           recomendacoes[filmeIndex].nota =  ((recomendacoes[filmeIndex].nota  + (comentario.nota - 5 * amigo.match*2/10)) / (2)).toFixed(1) 
           recomendacoes[filmeIndex].nota = parseFloat(recomendacoes[filmeIndex].nota)
          }
          else{
          recomendacoesTitulos.push(comentario.filme)
          recomendacoes.push({
            filme:comentario.filme,
            poster:comentario.poster,
            review:[{
              autor:amigo.nome,
              amigoFoto:amigo.icon,
              amigoNota:comentario.nota,
              amigoReview:comentario.review,
            
            }],
       
            nota: Math.abs(comentario.nota - 5 * amigo.match*2/10),
          })
        }
      }
      })
    })
    recomendacoes.sort((nota1,nota2)=>{
      a = nota1.nota;
      b = nota2.nota;
    if (a < b) return 1;
    if (a > b) return -1;
    return 0;})

    %>
<%if(recomendacoes.length > 0){%>
<h2 class="section-title">Você pode gostar</h2>
<div class="comentarios recomendados">
<%recomendacoes.forEach((filme)=>{
  if(filme.nota >= 3){%>
  <div class="filmeRecomendado">
    <div class="teste"></div>
    <div class="sidebar">

    <img  class='posterComentario' src="/imagens/posters/<%-filme.poster%> ">
    </div>
    <div class="reviews">
      <% filme.review.forEach((review)=>{%> 
        <div class="review">
          <div class="review-header">
            <img  class='reviewIcon' src="/imagens/ProfileIcons/<%-review.amigoFoto%>">
            <p class="review-autor"><%-review.autor%></p>
          </div>
          <p class="review-texto"><%-review.amigoReview%></p>
          <div class="stars">
            <%- review.amigoNota %>  <span id='star1' class="fa fa-star checked ratingStars"></span></div>
        </div>
        <%})%> 
    </div>
  </div>
  <%}})%> 
</div>
  <%}%> 
  <h2 class="section-title">Amigos</h2>
    <% friends.forEach(function(user){%>
        <%let amigo = user%>
    <div class="Amigos">
        <div class="AmigosPerfil">
          <a href="/perfil/<%-amigo.nome%>">
        <img class="amigoIcon" src="/imagens/ProfileIcons/<%-amigo.icon%> ">
          </a>
        <h2><%-amigo.nome%></h2>
    </div>
    <div class="filmes">
        <div class="comentarios">

       
                <% amigo.comentarios.forEach(function(comentario,index){ %>
                  <div class="comentario">
                        <img  class='posterComentario' src="/imagens/posters/<%-comentario.poster%> ">
                        <div class="icones-poster ">
                            <%- comentario.nota %>  <span id='star1' class="fa fa-star checked ratingStars"></span>
                        </div>
                      
                   
                  </div>
                  <%})%>
                  </div>


        
    </div>
</div>
    <%}) %> 
    <%}%>
  </div>
 
    <%- include('../footer.ejs') %>
</body>
</html>