<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--  Boostrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>
  <!-- favicon -->
  <link rel="shortcut icon" href="/imagens/abençoados.ico" type="image/x-icon">
  <!-- GoogleFonts -->
  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap" rel="stylesheet">
  <!-- fontawesome -->
  <script src="https://kit.fontawesome.com/e06ad0a210.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Css -->
  <link rel="stylesheet" href="/stylesheets/stylePerfil.css">
  <link rel="stylesheet" href="/stylesheets/styleAmigos.css">
  <link rel="stylesheet" href="/stylesheets/default.css">
<!-- jquery -->
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <title>The Blessed</title>
</head>
<body>
  <%- include('../navbar.ejs') %>
  <div class="container-fluid main-container">
    <%let amigos = []
    usuario.seguindo.forEach(function(userName){
      let amigo = users[users.findIndex(user => user.user === userName)]
        amigos.push({
          nome:amigo.nome,
          match:0,
          comentarios:amigo.comentarios
        })
    })
    console.log(amigos[0].comentarios)
    %>


    <% usuario.seguindo.forEach(function(userName){%>
        <%let amigo = users[users.findIndex(user => user.user === userName)]%>
    <div class="Amigos">
        <div class="AmigosPerfil">
          <a href="/perfil/<%-amigo.nome%>">
        <img class="amigoIcon" src="/imagens/ProfileIcons/<%-amigo.icon%> ">
          </a>
        <h2><%-amigo.nome%></h2>
    </div>
    <div class="filmes">
        <div class="comentarios">

            <!-- Scroll Comentarios-->
                <% amigo.comentarios.forEach(function(comentario,index){ %>
                  <div class="comentario">
                        <img  class='posterComentario' src="/imagens/posters/<%-comentario.poster%> ">
                        <div class="icones-poster ">
                            <%- comentario.nota %>  <span id='star1' class="fa fa-star checked ratingStars"></span>
                        </div>
                      
                   
                  </div>
                  <%})%>
                  </div>


        
    </div>
</div>
    <%}) %> 
  

  </div>
    <%- include('../footer.ejs') %>
</body>
</html>